#
# gp-nrf-ble-blinky
# Copyright (c) 2023, Greg PFISTER. MIT Licennse
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

menuconfig LED_DRIVER
	bool "Led Driver"
	default y
	# depends on DT_HAS_ZEPHYR_LED_DRIVER_ENABLED
	select GPIO
	help
	  Led Driver

if LED_DRIVER

config LED_DRIVER_BLINKY
	bool "Active the Blinky led"
	default y
	help
	  Blinks a led. It requires the led_blinky to be set on the device tree

config LED_DRIVER_BLE
	bool "Activate the BLE led"
	default y
	help
	  Use a led to display the BLE led (on: connected, off: disconnected). It 
	  requires the led_bt_status to be set on the device tree

module = LED_DRIVER
module-str = Led Driver
source "subsys/logging/Kconfig.template.log_config"

endif